<p>student-maticna-knjiga works!</p>
<p>{{studentid}}</p>
<h1>hello</h1>
<!-- app.component.html -->

<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Akademska Godina</th>
    <th>Godina Studija</th>
    <th>Obnova</th>
    <th>Zimski Semestar Upis</th>
    <th>Zimski Semestar Ovjera</th>
    <th>Korisnik Evidentirao</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of upisaneGodine">
    <td>{{ item.id }}</td>
    <td>{{ item.akademskaGodina }}</td>
    <td>{{ item.godinaStudija }}</td>
    <td>{{ item.obnova }}</td>
    <td>{{ item.zimskiSemestarUpis | date: 'short' }}</td>
    <td>{{ item.zimskiSemestarOvjera ? (item.zimskiSemestarOvjera | date: 'short') : 'N/A' }}</td>
    <td>{{ item.korisnikEvidentirao.ime }} {{ item.korisnikEvidentirao.prezime }}</td>
  </tr>
  </tbody>
</table>



<div *ngIf="prikaziDialog">

  <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" (click)="prikaziDialog = false" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="snimi()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
