<h2>Ovo je sedmica4 component</h2>
<h2>Hello FIT</h2>
ime : {{ime}}
brojac : {{brojac}}
<br>
<input value="{{ime}}" (input)="izmjenaImena($event)">
<br>
<input [(ngModel)]="ime">
<br>
<button (click)="uvecaj()">Dugme 1 ++</button>
<button (click)="testirajDugme2()">Dugme 2 alert</button>

<div *ngIf="isVidljiv()" [ngStyle]="styleZaDiv()">
  {{ime}}
</div>


<div style="border: 1px solid red" *ngFor="let x of imena">
  {{x}}
</div>
<br>

Novo ime<br>
<input [(ngModel)]="novoIme"><br>
<button (click)="dodajNovoIme()">Dodaj novo ime</button>


<img src="/assets/slika1.png">
