


<p>sedmica6-edit works!</p>
<div *ngIf="odabraniStudent">

  <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div>
            <label class="form-label"> ID: </label>
            <input class="form-control"  [value]="odabraniStudent.id" disabled>
          </div>

          <div>
            <label class="form-label"> Ime: </label>
            <input class="form-control"  [(ngModel)]="odabraniStudent.ime">
          </div>

          <div>
            <label class="form-label"> Prezime: </label>
            <input class="form-control"  [(ngModel)]="odabraniStudent.prezime">
          </div>

          <div>
            <label class="form-label"> Opstina Rođenja: </label>
            <select class="form-control"  [(ngModel)]="odabraniStudent.opstinaRodjenjaId">
              <option *ngFor="let c of opstine" [value]="c.id">{{c.opis}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="odabraniStudent = null" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="snimi()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Drzava rodenja</th>
    <th>Opstina Rodjenja</th>
    <th>Datum Rodjenja</th>
    <th>Korisnicko Ime</th>
    <th>Slika Korisnika</th>
    <th>Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of studenti">
    <td>{{ item.ime }}</td>
    <td>{{ item.prezime }}</td>
    <td>{{ item.opstinaRodjenjaDrzava }}</td>
    <td>{{ item.opstinaRodjenjaNaziv }}</td>
    <td>{{ item.datumRodjenja | date }}</td>
    <td>{{ item.korisnickoIme }}</td>
    <td>
      <img class="profilna-slika" src="{{ item.slikaKorisnika }}">
    </td>
    <td><button class="btn btn-warning" (click)="odaberi(item)">Odaberi</button>
    <a class="btn btn-primary" [routerLink]="['/student/maticna-knjiga', item.id]">Maticna knjiga</a></td>
  </tr>
  </tbody>
</table>
