<h2>Pretraga na web serveru (c#) i DB serveru (SQL)</h2>
<input (input)="preuzmiNovePodatke($event)">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Drzava rodenja</th>
    <th>Opstina Rodjenja</th>
    <th>Datum Rodjenja</th>
    <th>Korisnicko Ime</th>
    <th>Slika Korisnika</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of studenti">
    <td>{{ item.ime }}</td>
    <td>{{ item.prezime }}</td>
    <td>{{ item.opstinaRodjenjaDrzava }}</td>
    <td>{{ item.opstinaRodjenjaNaziv }}</td>
    <td>{{ item.datumRodjenja | date }}</td>
    <td>{{ item.korisnickoIme }}</td>
    <td>
      <img class="profilna-slika" src="{{ item.slikaKorisnika }}">
    </td>
  </tr>
  </tbody>
</table>
