
  <button (click)="isVidljivoSedmica4 = !isVidljivoSedmica4">Sedmica 4 {{isVidljivoSedmica4?'da':'ne'}}</button>
  <button (click)="isVidljivoSedmica5 = !isVidljivoSedmica5">Sedmica 5 {{isVidljivoSedmica5?'da':'ne'}}</button>
  <button (click)="isVidljivoSedmica5PretragaJs = !isVidljivoSedmica5PretragaJs">Sedmica 5 pretraga JS {{isVidljivoSedmica5PretragaJs?'da':'ne'}}</button>
  <button (click)="isVidljivoSedmica5PretragaBackend = !isVidljivoSedmica5PretragaBackend">Sedmica 5 pretraga Backend {{isVidljivoSedmica5PretragaBackend?'da':'ne'}}</button>
  <button (click)="isVidljivoSedmica6Edit = !isVidljivoSedmica6Edit">Sedmica 6 Edit {{isVidljivoSedmica6Edit?'da':'ne'}}</button>

  <div *ngIf="isVidljivoSedmica4" style="border:1px solid red">
    <app-sedmica4></app-sedmica4>
  </div>

  <div *ngIf="isVidljivoSedmica5" style="border:1px solid red">
    <app-sedmica5></app-sedmica5>
  </div>

  <div *ngIf="isVidljivoSedmica5PretragaJs" style="border:1px solid red">
    <app-sedmica5-pretraga-js></app-sedmica5-pretraga-js>
  </div>

  <div *ngIf="isVidljivoSedmica5PretragaBackend" style="border:1px solid red">
    <app-sedmica5-pretraga-backend></app-sedmica5-pretraga-backend>
  </div>


  <div *ngIf="isVidljivoSedmica6Edit" style="border: 1px solid red">
    <app-sedmica6-edit></app-sedmica6-edit>
  </div>

